/* =========================
   GLOBAL STYLES
========================= */


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html {
    scroll-behavior:smooth;
}


body {

    font-family:'Source Sans 3', sans-serif;

    background:#111;

    color:white;

}


/* HEADINGS */

h1,
h2,
h3 {

    font-family:'Playfair Display', serif;

}
